Workflow
Steps-
1. Import pandas , request and pycountry libraries
    - pandas to create dataframes 
    - requests to work with APIs
    - pycountry to work with geographical data
2. WebScrap data of under 5 mordlity rate 
3. Call an api to get data on growth of the countries 
4. Clean Country Codes with a function that return 
5. Save CSV for SQL

Import Libraries

In [51]:
import pandas as pd 
import requests
import pycountry
from sqlalchemy import create_engine
from sqlalchemy import text

Under-5 Mortality

In [52]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_infant_and_under-five_mortality_rates'
# Send request with headers
headers = {"User-Agent": "Mozilla/5.0"}
response = requests.get(url, headers=headers)
#read
t= pd.read_html(response.text)
mortality_df =t[0]
mortality_df.head()

C:\Users\Elitebook\AppData\Local\Temp\ipykernel_7024\413640658.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  t= pd.read_html(response.text)

        Location  2020 rate
0  Afghanistan *       58.0
1      Albania *        9.8
2      Algeria *       23.7
3      Andorra *        2.5
4       Angola *       71.5

GDP Growth per country

In [53]:
api_url = 'https://api.worldbank.org/v2/country/all/indicator/NY.GDP.MKTP.KD.ZG?date=2020&format=json&per_page=20000'
response = requests.get(api_url)
data = response.json()[1] #data inside 2nd element
gdp_df = pd.DataFrame(data)
gdp_df

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2020,-2.859784,,,1
1,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': 'ZI', 'value': 'Africa Western and Cent...",AFW,2020,-0.984117,,,1
2,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': '1A', 'value': 'Arab World'}",ARB,2020,-4.757145,,,1
3,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': 'S3', 'value': 'Caribbean small states'}",CSS,2020,-9.113253,,,1
4,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': 'B8', 'value': 'Central Europe and the ...",CEB,2020,-3.315368,,,1
...,...,...,...,...,...,...,...,...
261,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': 'VI', 'value': 'Virgin Islands (U.S.)'}",VIR,2020,-1.614938,,,1
262,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': 'PS', 'value': 'West Bank and Gaza'}",PSE,2020,-11.318466,,,1
263,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': 'YE', 'value': 'Yemen, Rep.'}",YEM,2020,NaN,,,1
264,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': 'ZM', 'value': 'Zambia'}",ZMB,2020,-2.785055,,,1
265,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': 'ZW', 'value': 'Zimbabwe'}",ZWE,2020,-7.816933,,,1

Data Cleaning

Check how Both table "country name" looks like

In [54]:
print(type(mortality_df['Location'].iloc[0]))

<class 'str'>

In [55]:
print(mortality_df['Location'].unique()[:20])

['Afghanistan\u202f*' 'Albania\u202f*' 'Algeria\u202f*' 'Andorra\u202f*'
 'Angola\u202f*' 'Antigua and Barbuda\u202f*' 'Argentina\u202f*'
 'Armenia\u202f*' 'Australia\u202f*' 'Austria\u202f*' 'Azerbaijan\u202f*'
 'Bahamas' 'Bahrain\u202f*' 'Bangladesh\u202f*' 'Barbados\u202f*'
 'Belarus\u202f*' 'Belgium\u202f*' 'Belize\u202f*' 'Benin\u202f*'
 'Bhutan\u202f*']

In [56]:
print(type(gdp_df['country'].iloc[0]))

<class 'dict'>

In [57]:
print(gdp_df['country'].head(20))

0     {'id': 'ZH', 'value': 'Africa Eastern and Sout...
1     {'id': 'ZI', 'value': 'Africa Western and Cent...
2                   {'id': '1A', 'value': 'Arab World'}
3       {'id': 'S3', 'value': 'Caribbean small states'}
4     {'id': 'B8', 'value': 'Central Europe and the ...
5     {'id': 'V2', 'value': 'Early-demographic divid...
6          {'id': 'Z4', 'value': 'East Asia & Pacific'}
7     {'id': '4E', 'value': 'East Asia & Pacific (ex...
8     {'id': 'T4', 'value': 'East Asia & Pacific (ID...
9                    {'id': 'XC', 'value': 'Euro area'}
10       {'id': 'Z7', 'value': 'Europe & Central Asia'}
11    {'id': '7E', 'value': 'Europe & Central Asia (...
12    {'id': 'T7', 'value': 'Europe & Central Asia (...
13              {'id': 'EU', 'value': 'European Union'}
14    {'id': 'F1', 'value': 'Fragile and conflict af...
15    {'id': 'XE', 'value': 'Heavily indebted poor c...
16                 {'id': 'XD', 'value': 'High income'}
17                   {'id': 'XF', 'value': 'IBRD only'}
18            {'id': 'ZT', 'value': 'IDA & IBRD total'}
19                   {'id': 'XH', 'value': 'IDA blend'}
Name: country, dtype: object

Clean data

1. in mortality dataframe \u202f* after text will hamper the preparation of tables . we need to replace that
2. we need to create a abbreviation column that call help us to join tables
3. in gdp dataframe to create abbreviation as in dict , id contain shorten we need to extract that

Clean the mortality Location column

In [58]:
def clean_country_name(name):
    # remove \u202f , space , * 
    name = name.replace("\u202f","")
    name = name.replace("*","")
    name = name.strip() #remove extra spaces
    return name

Prepare the Tables

Mortality_df new Column abb

In [59]:
def to_abb(name):
    try:
        clean_name = clean_country_name(name)
        return pycountry.countries.lookup(clean_name).alpha_2
    except:
        return None

In [60]:
mortality_df['abb'] = mortality_df['Location'].apply(to_abb)
mortality_df

          Location  2020 rate   abb
0    Afghanistan *       58.0    AF
1        Albania *        9.8    AL
2        Algeria *       23.7    DZ
3        Andorra *        2.5    AD
4         Angola *       71.5    AO
..             ...        ...   ...
188      Vietnam *       20.9    VN
189    Palestine *       16.5  None
190        Yemen *       59.6    YE
191       Zambia *       61.4    ZM
192     Zimbabwe *       53.9    ZW

[193 rows x 3 columns]

GDP dataframe new column abb

In [61]:
gdp_df['abb'] = gdp_df['country'].apply(lambda x : x['id'])
gdp_df

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal,abb
0,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': 'ZH', 'value': 'Africa Eastern and Sout...",AFE,2020,-2.859784,,,1,ZH
1,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': 'ZI', 'value': 'Africa Western and Cent...",AFW,2020,-0.984117,,,1,ZI
2,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': '1A', 'value': 'Arab World'}",ARB,2020,-4.757145,,,1,1A
3,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': 'S3', 'value': 'Caribbean small states'}",CSS,2020,-9.113253,,,1,S3
4,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': 'B8', 'value': 'Central Europe and the ...",CEB,2020,-3.315368,,,1,B8
...,...,...,...,...,...,...,...,...,...
261,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': 'VI', 'value': 'Virgin Islands (U.S.)'}",VIR,2020,-1.614938,,,1,VI
262,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': 'PS', 'value': 'West Bank and Gaza'}",PSE,2020,-11.318466,,,1,PS
263,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': 'YE', 'value': 'Yemen, Rep.'}",YEM,2020,NaN,,,1,YE
264,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': 'ZM', 'value': 'Zambia'}",ZMB,2020,-2.785055,,,1,ZM
265,"{'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...","{'id': 'ZW', 'value': 'Zimbabwe'}",ZWE,2020,-7.816933,,,1,ZW

Save to CSV for SQL

In [62]:
mortality_df.to_csv("mortarlity.csv",index=False)
gdp_df.to_csv("gdp.csv",index=False)

In [63]:
import os
os.chdir(r'F:\project\Healthy Sustainable Development Analysis')

gdp_df = pd.read_csv('gdp.csv')
mortarlity_df = pd.read_csv('mortarlity.csv')

In [64]:
engine = create_engine('postgresql+psycopg2://postgres:123456@localhost:5432/world_data_psql')

with engine.connect() as conn:
    result = conn.execute(text("SELECT table_name FROM information_schema.tables WHERE table_schema='public';"))
    print([row[0] for row in result])

['staging_mortarlity', 'staging_gdp']

In [65]:

# Load CSVs into PostgreSQL staging tables
mortarlity_df.to_sql('staging_mortarlity', engine, if_exists='replace', index=False)
gdp_df.to_sql('staging_gdp', engine, if_exists='replace', index=False)

print("CSV files loaded into PostgreSQL successfully!")

CSV files loaded into PostgreSQL successfully!

In [67]:
tables = pd.read_sql("SELECT table_name FROM information_schema.tables WHERE table_schema='public';", engine)
print(tables)

           table_name
0  staging_mortarlity
1         staging_gdp

In [69]:
mortarlity_staging = pd.read_sql("SELECT * FROM staging_mortarlity LIMIT 5;", engine)
gdp_staging = pd.read_sql("SELECT * FROM staging_gdp LIMIT 5;", engine)

print(mortarlity_staging)
print(gdp_staging)

        Location  2020 rate abb
0  Afghanistan *       58.0  AF
1      Albania *        9.8  AL
2      Algeria *       23.7  DZ
3      Andorra *        2.5  AD
4       Angola *       71.5  AO
                                           indicator  \
0  {'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...
1  {'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...
2  {'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...
3  {'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...
4  {'id': 'NY.GDP.MKTP.KD.ZG', 'value': 'GDP grow...

                                             country countryiso3code  date  \
0  {'id': 'ZH', 'value': 'Africa Eastern and Sout...             AFE  2020
1  {'id': 'ZI', 'value': 'Africa Western and Cent...             AFW  2020
2                {'id': '1A', 'value': 'Arab World'}             ARB  2020
3    {'id': 'S3', 'value': 'Caribbean small states'}             CSS  2020
4  {'id': 'B8', 'value': 'Central Europe and the ...             CEB  2020

      value  unit obs_status  decimal abb
0 -2.859784  None       None        1  ZH
1 -0.984117  None       None        1  ZI
2 -4.757145  None       None        1  1A
3 -9.113253  None       None        1  S3
4 -3.315368  None       None        1  B8

In [71]:
final_df = pd.read_sql("SELECT * FROM mortarlity_final LIMIT 10;", engine)
print(final_df)

            country_name  mortarlity_rate  gdp_growth abb
0          Afghanistan *             58.0   -2.351101  AF
1              Albania *              9.8   -3.313756  AL
2              Algeria *             23.7   -5.000000  DZ
3              Andorra *              2.5  -11.183940  AD
4               Angola *             71.5   -5.638215  AO
5  Antigua and Barbuda *              6.4  -18.868777  AG
6            Argentina *              8.6   -9.900485  AR
7              Armenia *             10.9   -7.200000  AM
8            Australia *              3.7   -0.119591  AU
9              Austria *              3.6   -6.318255  AT

In [73]:
engine = create_engine('postgresql+psycopg2://postgres:123456@localhost:5432/world_data_psql')

In [74]:
final_df = pd.read_sql("SELECT * FROM mortarlity_final;", engine)
final_df.head()

    country_name  mortarlity_rate  gdp_growth abb
0  Afghanistan *             58.0   -2.351101  AF
1      Albania *              9.8   -3.313756  AL
2      Algeria *             23.7   -5.000000  DZ
3      Andorra *              2.5  -11.183940  AD
4       Angola *             71.5   -5.638215  AO

In [77]:
final_df.to_excel(r'F:\project\Healthy Sustainable Development Analysis\mortarlity_final.xlsx', index=False)