Workflow
Steps-
1. Import pandas , request and pycountry libraries
    - pandas to create dataframes 
    - requests to work with APIs
    - pycountry to work with geographical data
2. WebScrap data of under 5 mordlity rate 
3. Call an api to get data on growth of the countries 
4. Clean Country Codes with a function that return 
5. Save CSV for SQL

Import Libraries

In [1]:
import pandas as pd 
import requests
import pycountry

Under-5 Mortality

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_infant_and_under-five_mortality_rates'
t= pd.read_html(url)
mortality_df =t[0]
mortality_df.head()

        Location  2020 rate
0  Afghanistan *       58.0
1      Albania *        9.8
2      Algeria *       23.7
3      Andorra *        2.5
4       Angola *       71.5